.comment-container{
    margin-top: 10px;
    
}
.heading{
    width: 100%;
    height: 42px;
    background-color: aquamarine;
}
.comment-heading{
    width: 120px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
   
    
}
 button{
    width: 100px;
    background-color: transparent;
    border: none;
    float: right;
    clear: right;
}
.chat-icon{
    width: 35px;
    margin-top: 2px;
   
}
.comment-content{
   clear: both;
}
.comment-text{
   border-top:1px solid black;
    padding: 30px 10px;
}
.user1-icon{
    width: 35px;
    margin-right: 10px;
}
.user-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.comment-body{
    width:99%;
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;

}


@media(max-width:768px){
    .user-text{
        font-size: 15px;
    }
}