.post-container{
    margin-bottom: 40px;
    margin-top: 10px;
    
}
.post-heading{
    width: 100px;
    float: left;
    font-size: 25px;
    font-weight: bold;
    
}
 button{
    width: 100px;
    background-color: transparent;
    border: none;
    float: right;
    clear: right;
}
.option-icon{
    width: 35px;
   
}
.post-content{
    clear: both;
    border-top: 1px solid black;
}
.post-text{
    
  
    padding: 15px 0px;  
    text-align: center;
}
.inner-content{
   
    border-bottom:1px solid black;
}
.post-name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-size: 14px;
}
.post-body{
    padding-top:30px ;
}

