.user{
    width:60%;
    border:1px solid black;
    margin:auto;
    margin-top:30px;
    padding-bottom: 20px;
}
.user-icon{
    width:40%;
    margin:30px;
}
.placeholder-icon{
    width: 20px;
    margin-right:3px ;

}

.suitcase-icon{
    width: 20px;
    margin-right:3px ;
    margin-top: 11px;

}
.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    border-bottom: 1px solid black;
    
   
}
.item{
   flex: 1;
   height: 90px;
}


.item-1,.item-2{
    border-right:1px black solid;
    
}

.phone-icon,.email-icon{
    width: 40px;
    margin-bottom: 5px;

}
.internet-icon{
    width: 36px;
    margin-bottom: 7px;
}

@media(max-width:786px)
{
    .user{
        width:80%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 40px;
        border-top: 1px solid black;
       
       
        
       
    }
    .item{
      margin:20px;
      
     
    }
    .item-1,.item-2,.item-3{
        width: 80%;
        border-right:none;
        display: flex;
        flex-direction: row;
        
    }


.phone-icon,.email-icon,
.internet-icon{
    width: 36px;
    margin-bottom: 7px;
    margin-right: 40px;
  
}
}
@media(max-width:400px){
    h2{
        font-size: 18px;
    }
    .user{
        width:95%;
    }
}